<h2>Welcome back to Sol-Search, please sign in below</h2>

<%= link_to "Login via Google Authentication", '/auth/google_oauth2' %><br><br>

Or, please fill out the form below if you do not want to authenticate with google:<br><br>

<%= form_with model:@user do |f|  %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br><br>
    <%= f.submit "login" %>
<% end%>