<h2>Welcome to Sol-Search, pleae signup below</h2>

<%= link_to "Login via Google Authentication", '/auth/google_oauth2' %><br><br>

Or, please fill out the form below if you do not want to authenticate with google:<br><br>

<%= form_with model:@user do |f|  %>

    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2>
            <%= pluralize(@user.errors.count, "error") %>
            prohibited this user from being created:
            </h2>
            <ul>
            <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name %> 
    <br>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
    <br><br>
    <%= f.submit %>
    
<% end%>