<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to sol-search</h1>
    <p>
      <%= @user.name %>, you have successfully signed up.<br>
    </p>
    <p>
      To validate your email and and unlock access to view, post, and accept contracts, please click here: 

    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>


<%= form_with model:@user, :url => user_url(@user)  do |f|  %>

    <%= f.hidden_field :user, :value => @user.id %>

    <%= f.submit "Confirm Email by Clicking Here from hidden field" %>

<% end%>

<%= form_tag "#{users_validate_url}" do %>
<%= hidden_field_tag :user, :value => @user.id %>
  <%= submit_tag "Confirm email via form Tag" %>
<% end %> 