<% if @contracts.length == 0 %>
    <br>
    <div class="center-font">You don't have any contracts to view.</div>
<% else %>

    <body>
        <div class="container">
            <div class="row">

                <% @contracts.each do |c| %>
                    <div class="card">
                        <div class="card-header-contract">
                            <h2><%= c.status %></h2><br>
                        </div>

                        <div class="card-body">
                            <p>Submitted: <%= c.created_at.strftime('%B %-d, %Y') %><br>
                            End date: <%= c.end_date(c).strftime('%B %-d, %Y') %><br>
                            Location Owner: <%= c.owner.name %><br>
                            Consumer Name: <%= c.consumer.name %><br>
                            Location Name: <%= c.location.name %><br></p>

                            
                            <p>Contracted Amount: <%= c.capacity %> kWh<br>
                            Contracted Term: <%= c.term %> years<br>
                            Contracted Repayment Rate: <%= c.rate %>%<br></p>
                        
                            <% if @location %>
                                <a href="<%= location_contract_path(@location, c) %>" class="btn-contract">See Details</a>
                            <% else %>
                                <a href="<%= contract_path(c) %>" class="btn-contract">See Details</a>
                            <% end %>

                        </div>
                    </div>   


                <% end %>
            </div>
        </div>
    </body>
<% end %>