
<% #byebug %>
<% if @contracts.length == 0 %>
You don't have any contracts to view.
<% else %>
    <% @contracts.each do |c| %>
    Location Owner: <%= c.owner.name %><br>
    Consumer Name: <%= c.consumer.name %><br>
    Location Name: <%= c.location.name %><br>


        <% if c.status == "Proposed" %>
            <p style="color:gray">Contract Status: <%= c.status %><br>
            Contracted Amount: <%= c.capacity %> kWh<br>
            Contracted Term: <%= c.term %> months<br>
            Contracted Repayment Rate: <%= c.rate %>%<br></p>
        <% elsif c.status == "Accepted" %>
            <p style="color:blue">Contract Status: <%= c.status %><br>
            Contracted Amount: <%= c.capacity %> kWh<br>
            Contracted Term: <%= c.term %> months<br>
            Contracted Repayment Rate: <%= c.rate %>%<br></p>
        <% elsif c.status == "Declined" %>
            <p style="color:red">Contract Status: <%= c.status %><br>
            Contracted Amount: <%= c.capacity %> kWh<br>
            Contracted Term: <%= c.term %> months<br>
            Contracted Repayment Rate: <%= c.rate %>%<br></p>
        <% end %>
<br>
    <%= link_to "click here for individual details", location_contract_path(@location, c)%>
<br>
    <% end %>

<% end %>

<%= link_to "click to create a new contract for this location", new_location_contract_path(@location) %>