<h2>The Owner has up to <%=@location.annual_capacity-@location.contracts.Accepted.sum(:capacity) %> kWh per year available</h2>
<%= form_with model: @contract do |f| %>

<% if @contract.errors.any? %>
        <div id="error_explanation">
            <h2>
            <%= pluralize(@contract.errors.count, "error") %>
            prohibited this contract from being submitted:
            </h2>
            <ul>
            <% @contract.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>



    <%= f.label :annual_capacity_requested_in_kwh %>
    <%= f.text_field :capacity %>
    <br>
    <%= f.label :term_in_full_years %>
    <%= f.text_field :term %>
    <br>
    <%= f.label :percentage_repayment_rate %>
    <%= f.text_field :rate %><br>
    *you plan to pay $xx back to the owner for each $100 recieved in bill credits
    <br>
    <%= f.submit "Submit proposal to owner"%>
<% end %>