<div class="heading">
    <h3>Feedback Form</h3>
</div>

<div class="container">
<%= form_with model:@feedback do |f| %>

<% if @feedback.errors.any? %>
        <div id="error_explanation">
            <h2>
            <%= pluralize(@feedback.errors.count, "error") %>
            prohibited this contract from being submitted:
            </h2>
            <ul>
            <% @feedback.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>


    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :feedback %>
    <%= f.text_field :feedback %>

    <%= f.submit %>
<% end %>
</div>


<div class="heading">
    <h6>*Form will not accept more than 1000 characters</h6>
</div>