<h2>Location Information</h2>
<%= form_with model:@location do |f| %>
<% if @location.errors.any? %>
        <div id="error_explanation">
            <h2>
            <%= pluralize(@location.errors.count, "error") %>
            prohibited this contract from being submitted:
            </h2>
            <ul>
            <% @location.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>


    <%= f.label :name %>
    <%= f.text_field :name %>
    <br><br>
    <%= f.label :utility %>
    <%= f.text_field :utility %>
    <br><br>
    <%= f.label :utility_load_zone %>
    <%= f.text_field :zone %><br>
    <br><br>
    <%= f.label :rate_type %>
    <%= f.text_field :meter_type %><br>
    <br><br>
    <%= f.label :state %>
    <%= f.select :state, us_states %>
    <br><br>
    <%= f.label :country %>
    <%= f.text_field :country %>
    <br><br>
    <%= f.label :Estimate_annual_capacity_in_killowatt_hours %>
    <%= f.text_field :annual_capacity %>
    <br><br>
    <%= f.label :status %>
    <%= f.select :status, ["proposed - contingent on finding PPA", "under construction, capacity available and looking for PPA", "online, capacity available and looking for PPA", "online - no additional capacity available"] %>
    <br><br>
    <%= f.submit %>
<% end %>

<br><br>
<a href="http://www.resonant.energy/mautilityloadzonemap" target="_blank">MA Load Zone Information</a>