


<div class="row">
<% @locations.each do |l| %>

  <div class="column">
    <div class="card">

    <h3><%= l.name %> - Owners Name: <%= l.owner.name %><br></h3>
    
    <% if l.annual_capacity-l.contracts.Accepted.sum(:capacity) >= 0 %>
        <mark>There is an estimated excess supply of <%= l.annual_capacity-l.contracts.Accepted.sum(:capacity) %> kWh/year</mark><br>
    <% end %>
    
    <p><%= l.utility %>, <%= l.zone %>, meter type: <%= l.meter_type %><br>
    <%= l.state %>, <%= l.country %><br></p>

    <p>The Owner has marked this as: <%= l.status %><br>
    Total Estimated Capacity: <%= l.annual_capacity %> kWh/year<br>
    The Owner has <%= l.contracts.Accepted.sum(:capacity) %> kWh / year under contract at this location.<br></p>

    <% if logged_in_id? == l.owner_id %>
            <%= link_to "Click to edit details", location_path(l.id) %><br>
        <% else %>
           <%= link_to "Click to see details or submit contract offer", location_path(l.id) %><br>
    <% end %>
    
    <br><br>
      </div>
    </div>

<% end %>
</div>


<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side THIS STARTED AT 25% 100% is 1 column */
.column {
  float: left;
  width: 100%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  padding: 16px;
  text-align: center;
  background-color: #D4E4F7;
}
</style>
</head>